/*  Add your styling here */

body {
    margin: 0;
}

li {
    list-style: none; 
    margin-right: 25px; 
  
    
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
}

.listamenu {
    display: flex;
    padding: 30px;
    margin-top: -195px;
}

.imagen-1 {
    width: 320px;
    height: 320px;
    margin: 30px;

       
}

.titular {
    text-align: right;
    padding: 15px;
}

header {
    background-color:rgb(206, 203, 203) 
  
}

.contenedor {
    margin-top:45px;
    
}

.Vienvenido {
    text-align: center;
    font-size: 35px;
}

.texto {
    text-justify: auto;
}

.imagen-2 {
    width: 350px;
    height: 450px;
    padding: 20px;
    display: block;
    margin: auto;
    
  
}

.contenedor1 {
    margin-top:20px;
    width: auto;
    background-color: rgb(206, 203, 203);
    
}


.grid {
    width: 33%;
    padding: 38px;
    margin-bottom: 40px;  
    
    
}

.contenedor-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

.gris {
    background-color: rgb(206, 203, 203);
    display: block;
    margin: auto;
    margin-bottom: 40px;

}

.imagen-3{
    display: block;
    margin: auto;
    
}

.tortasmundo{
    background-color: rgb(187, 183, 183);
    width: 200px;   
    height: 25px;
       
}

.mundo{
    background-color: rgb(187, 183, 183);
    width: 350px;
    display: block;
    margin: auto;

}

.contenedor2 {
    margin-top:20px;
    width: auto;
    background-color: rgb(206, 203, 203);
    
}

.menu-icon {
    display: none;
    margin: auto;
    padding: 20px; 
    float: right;
   
}

@media (min-width: 540px ) {
    nav {
        position: absolute;
        top:150px;
        left: 0px; 
        width: 100%;  
        display: none;   
        
    }

    nav .listamenu {
        flex-direction: column;
        display: flex;
        
    }

    .menu-icon {
        display: block;
        width: 25px;
    }

    
}

@media (min-width: 900px) {

nav {
    position: absolute;
    top:150px;
    left: 0px; 
    width: 100%;  
    display: none;   
    
    
}